topbar {
    background-color: rgb(56, 57, 68);
    display: flex;
    align-content: center;
    border: 1px solid black;
    width: 100%;
}

.outer {
    display: flex;
    width: 75%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

#logo {
    width: 57%;
}

#nav-top {
    background-color: rgb(245, 245, 245);
    border: 3px solid rgb(189, 189, 189);
    display: flex;
    width: 75%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

#actual {
    width: 60%;
}

#nav-bottom {
    background-color: rgb(245, 245, 245);
    border: 3px solid rgb(189, 189, 189);
    border-top: 1px;
    display: flex;
    width: 75%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

#view {
    width: 65%;
}

header {
    display: flex;
    width: 75%;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

content {
    display: flex;
    width: 75%;
    height: 70px;
    margin: auto;
    line-height: 40px;
    justify-content: space-around;
    align-items: center;
}

#white {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    width: 80px;
}

#blue {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    width: 80px;
}

#black {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    width: 80px;
}

#red {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    width: 80px;
}

#green {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    width: 80px;
}

#multicolored {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    width: 80px;
}

#colorless {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    width: 80px;
}

#land {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    width: 80px;
}